.div3 {
    position: relative;
    display: inline-block;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background-color: #ebeef3;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.text-center{
    text-align:center;
}

div .icon,
div .description {
  max-width: max-content;
  min-width: max-content;
}

@media screen and (max-width: 450px) {
    div .icon,
    div .description {
      min-width: 100%;
      margin-bottom: 15px;
      text-align: center;
    }
  }
  /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .text2 {
    font-size: 35px;
    padding-top: 12%;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .text2 {
    font-size: 15px;
    padding-top:20%;
  }
}