.div4 {
    position: relative;
    display: inline-block;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background-color:whitesmoke;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-center{
      text-align:center;
  }
  .td{
      display:table-cell;
  }
  .padding-0{
    padding-right:0;
    padding-left:0;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    div.example {
      font-size: 80px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    div.example {
      font-size: 30px;
    }
  }