.div5{
    position: relative;
    display: inline-block;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background-color:whitesmoke;
}
.text-center{
    text-align:center;
}
.image1{
    padding-top: 30vh;
    padding-left:70vh
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-center {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.link{
    color: black !important;
    text-decoration: none !important;
}
.link:hover{
    color:lightblue
}

.color-grey{
    background-color: #bbbdbf;
}

.font-24{
    font-size:24px


}
div .icon,
div .description {
  max-width: max-content;
  min-width: max-content;
}
.text2{
    font-family: 'Besley', serif;
    text-align: justify;
    display: block;
    
}

@media screen and (max-width: 850px) {
    div .icon,
    div .description {
      min-width: 100%;
      margin-bottom: 15px;
      text-align: center;
    }
  }

@media (min-width:450px) and (max-width:850px){
   
}